{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a class="btn btn-light"  href="{{ path('student_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                    <a class="btn btn-success"  href="{{ path('student_edit', {'id': user.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun utiilisateur !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success"  href="{{ path('student_new') }}"><i class="fas fa-plus p-r-5"></i>Ajouter un
        étudient</a>
{% endblock %}
