{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
    <h1>Liste des étudiants</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for user in users %}
          {% if user.roles['0'] == "ROLE_STUDENT" %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-light"  href="{{ path('student_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                    <a class="btn btn-success"  href="{{ path('student_edit', {'id': user.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
          {% endif %}
        {% else %}
            <tr>
                <td colspan="7">Aucun étudiant !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success"  href="{{ path('student_new') }}"><i class="fas fa-plus p-r-5"></i>Ajouter un
        étudient</a>
{% endblock %}
