{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
  <h1>Liste des étudiants</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Email</th>
      <th>NB Série</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>

        {% for student in students %}
            <tr>
                <td>{{ student.lastname }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.email }}</td>
                {#<td>{{ student.getResults|length }}</td>#}
                <td>
                    <a class="btn btn-light"  href="{{ path('student_show', {'id': student.id}) }}"><i class="fas fa-eye"></i></a>
                    <a class="btn btn-success"  href="{{ path('student_edit', {'id': student.id}) }}"><i class="fas fa-pen"></i></a>
                    <a class="btn btn-success"  href="{{ path('student_results_JSON', {'id': student.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun étudiant !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success"  href="{{ path('student_new') }}"><i class="fas fa-plus p-r-5"></i>Ajouter un étudiant</a>
{% endblock %}
