{% extends 'base.html.twig' %}

{% block title %}Résultat {{ result.id }}{% endblock %}

{% block body %}
    <h1>Résultat {{ result.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ result.id }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ result.result }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ result.date ? result.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ serie }}</td>
            </tr>
            <tr>
                <th>Etudiant</th>
                <td>{{ student }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light" href="{{ path('result_index') }}">Retour à la liste</a>

    <a class="btn btn-success" href="{{ path('result_edit', {'id': result.id}) }}"><i class="fas fa-pen p-r-5"></i>Editer</a>

    {{ include('result/_delete_form.html.twig') }}
{% endblock %}
