{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block body %}
    <h1>Serie</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ serie.id }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ serie.libelle }}</td>
        </tr>
        <tr>
            <th>Questions</th>

                {% for question in questions %}
                    <td>{{ question.content }}<td/>
                {% endfor %}

        </tr>
        </tbody>
    </table>

    <a class="btn btn-light"  href="{{ path('serie_index') }}">Retour à la liste</a>

    <a class="btn btn-success" href="{{ path('serie_edit', {'id': serie.id}) }}">i class="fas fa-pen p-r-5"></i>Editer</a>

    {{ include('serie/_delete_form.html.twig') }}
{% endblock %}
